.groupImage {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.lang__container{
    margin: 128px;
    border-radius: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3%;
    background: rgba(235,235,235, 0.9)
}
.lang__container img{
    height: 128px;
    width: 128px;
    padding: 1%;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    text-align: center;
    margin-top: 32px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

@media only screen and (max-width: 375px) {
    .lang__container{
    margin: 8px;
    border-radius: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 16vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 3%;
    background: rgba(235,235,235, 0.9)
}
    .lang__container img{
    height: 32px;
    width: 32px;
    padding: 1%;
}
}