.groupImage {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lang__container{
    margin: 10% 5% 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 5% 13% 5% 13%;
    background: rgba(200,200,200, 0.8)
}
.lang__container img{
    height: 10%;
    width: 10%;
    padding: 1%;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    text-align: center;
    margin-top: 80px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}