.groupImage {
    width: 100vw;
}

.lang__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 3% 13% 3% 13%;
    margin: 6%;
    background: rgba(60, 60, 60, .8)
}
.lang__container img{
    height: 10%;
    width: 10%;
}