:root {
    --name-color: #343E3D;
    --link-non-hover: gray;
    --link-hover: #1CE8AB;
}


.container__student{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card__student {
    width: 25%;
    height: 25%;
    margin: 1%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px black solid; */
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.student__img {
    height: 25%;
    width: 300px;
    border-radius: 4px;
}
.student__img:hover {
    /* transform: scale(2.2); */
}

.student__links {
    font-size: 20px;
    margin: 3px;
    color: var(--link-non-hover);
    transition: all .5 ease-in-out
}
.student__links:hover {
    color: var(--link-hover);
    transform: scale(2.2);
}

.student__name {
    font-size: 25px;
}
