:root {
    --name-color: red;
}


.container__student{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card__student {
    width: 20%;
    height: 20%;
    margin: 1%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-top: 5px lightblue solid; */
    /* border-radius: 10px; */
    transition: all .3s ease-in-out;
}

.student__img {
    height: 25%;
    width: 25%;
    border-radius: 4px;
}

.student__links {
    width: 30px;
    height: auto;
    margin: 3px;
}

.student__info {
    width: 28px;
    height: auto;
    margin: 3px;
}

.card__student:hover {
    transform: scale(1.6);
    color: var(--name-color);
};
