nav {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: white;
    border-bottom: 1px solid #707070;
    font-family: 'Roboto Condensed', sans-serif;
}

nav img {
    width: 50px;
    margin: 10px 0 5px 0;
}

nav input{
    width: 50%;
    height: 50%;
}

#nav-links {
    margin-left: 50px;
    text-decoration: none;
    color: #080808;
}

#party-btn {
    background-color: #16B2F4;
    border-radius: 5px;
    font-size: 1.5em;
    width: 50px;
}

#nav-logo {
    margin-left: 40px;
}

#nav-btn {
    margin-right: 40px;
}