nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: white;
    border-bottom: 1px solid #707070;
    font-family: 'Roboto Condensed', sans-serif;
    /* position: sticky;
    top: 0; */
}

nav img {
    width: 50px;
    margin: 10px 0 5px 0;
}

#nav-links {
    margin-left: 50px;
    text-decoration: none;
    color: #080808;
}

#party-btn {
    background-color: #16B2F4;
    border-radius: 5px;
    font-size: 1.5em;
    width: 50px;
}

#nav-logo {
    margin-left: 40px;
}

#nav-btn {
    margin-right: 40px;
}

@media only screen and (max-width: 375px) {
    #nav-links {
        display: block;
        padding: 2%;
        margin: 0 auto;
        text-decoration: none;
        color: #080808;
    }
}